@font-face {
    font-family: typostuck;
    src: url('/homestuck/typostuck.ttf')  format("truetype");
}
@font-face {
    font-family: comicsans;
    src: url('/comicsans.ttf')  format("truetype");
}
 
 a:link {
 color: green
 }
   .groove {border-style: groove;
   background-color: white;}
   
    .right {
  float: right;
  }


  span {
  background-color: #ffffff;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
font-size: 40px;
}

p {
  font-size: 25px;
}

a {
font-size: 30px;
}

body {
  background-color: #cccccc; 
  background-size: cover; 
  font-family: "typostuck";
}

comic{
  font-family: "comicsans";
  font-size: 21px;
}

                    .chardiv {
  width:800px;
  background-color: white;
  border: 3px solid black;
  padding: 2px;
  position:relative;
  height: 80vh; 
  overflow-y: scroll;
  overflow-x: hidden;
}

                    .maindiv {
  width:1000px;
  background-color: grey;
  border: 3px solid black;
  padding: 2px;
  position:relative;
}

small{
 font-size:17px; 
}

hstxt{
 font-size:20px; 
}