@font-face {
    font-family: pmdfont;
    src: url('pmdfont.ttf')  format("truetype");
}
 
 a:link {
 color: green
 }

  span {
  background-color: #ffffff;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
font-size: 40px;
}

p {
  font-size: 30px;
}
a {
font-size: 35px;
}
html, body {
	image-rendering: pixelated;
	margin: 0px;
	background-image: url("bg.png");
	background-size: cover;
	font-family: "pmdfont";
	background-position: center;
	min-height: 100vh;
}

small{
 font-size:17px; 
}

.logo{
	width: 30%
}

  @media (max-width: 800px) {
	.logo{
		width: 80%;
	}
  }